<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KAKAO_NATIVE_APP_KEY</key>
	<string>3a72c807b5213fc535fab910f7574dda</string>
	<key>GOOGLE_CLIENT_ID</key>
	<string>324315600629-dj9s1tjtq5ecptapnq2cqk06k38gvo7f.apps.googleusercontent.com</string>
</dict>
</plist>
